* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color:#031927;
    color: #FFF;
    font-family: 'Lato';
}

/***** Header and Footer *****/
#topNav {
    height: 120px;
    padding: 25px 15px;
}

#bottomNav {
    padding: 15px;
}

#topNavLinks, #bottomNavLinks {
    list-style-type: none;
    float: right;
    margin-top: 50px;
}

#topNavLinks li, #bottomNavLinks li, .socialLinks li {
    display: inline;
    padding: 0 15px;
}

#topNavLinks li a, #bottomNavLinks li a {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

#topNavLinks li a:hover, #bottomNavLinks li a:hover, .socialLinks li a:hover {
    color: #ECDD7B;
}

.logo {
    width: 140px;
    float: left;
}

.separator {
    margin: 0 auto;
    border-top: 2px solid #031927;
    max-width: 1200px;
    padding: 15px 0;
}

.socialLinks {
    list-style: none;
}

.socialLinks li a {
    color: #FFF;
    display: inline;
    text-decoration: none;
    font-size: 16px;
}

header, footer {
    width: 100%;
    background-color: #BA1200;
    color: #FFF;
    clear: both;
}

footer {
    height: 250px;
    position: relative;
    bottom: 0;
}

.footerTxt {
    display: inline;
}

/*--------------------------------------------------------*/
#leaderBoard, #testimonial {
    background-color: #BA1200;
    padding: 50px;
} 

#membership {
    padding: 50px;
    height: 250px;
}

.carouselTxt {
    background-color: #031927;
    opacity: .95;
    padding: 25px;
}

.btn {
    float: right;
}

.profileBtn {
    background-color: #ECDD7B;
    color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 4px;
    padding: 3px 20px;
    margin: 0 10px;
    font-size: 18px;
}

.profileBtn:hover {
    background-color: #000;
    color: #ECDD7B;
}

.betBtn {
    background-color: #BA1200;
    color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}

.betBtn:hover {
    background-color: #FFF;
    color: #BA1200;
}

.listTitle {
    margin-bottom: 15px;
    padding: 15px 0;
}

.listImg {
    width: 30px;
}

.listTxt {
    display: inline;
}

.payoutList, .topUserList {
    width: 350px;
    background-color: #FFF;
    color: #000;
    margin: 25px;
    padding: 25px;
}

h1 {
    margin-bottom: 25px;
}

h2 {
    color: #ECDD7B;
    font-family: 'Roboto';
    text-align: center;
}

button {
    border: none;
    border-radius: 4px;
    padding: 3px 20px;
    margin: 0 10px;
    font-size: 18px;
}

/***** Login and Sign Up ****/

.forms {
    width: 50%;
    margin: 50px auto;
    padding: 100px;
    text-align: center;
    border: 5px solid #BA1200;
}

.formFields {
    margin-bottom: 15px;
}