* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color:#031927;
    color: #FFF;
    font-family: 'Lato';
}

/***** Header and Footer *****/
#topNavLinks, #bottomNavLinks {
    list-style-type: none;
}

#topNavLinks li, #bottomNavLinks li, .socialLinks li {
    display: inline;
    padding: 0 15px;
}

#topNavLinks li a, #bottomNavLinks li a {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

#topNavLinks li a:hover, #bottomNavLinks li a:hover, .socialLinks li a:hover {
    color: #ECDD7B;
}

.logo {
    width: 140px;
}

.username {
    color: #ECDD7B;
    font-size: 20px;
}

.username:hover {
    color: #031927;
}

.separator {
    margin: 0 auto;
    border-top: 2px solid #031927;
    width: 100%;
    padding: 15px 0;
}

.socialLinks {
    list-style: none;
}

.socialLinks li a {
    color: #FFF;
    display: inline;
    text-decoration: none;
    font-size: 16px;
}

header, footer {
    background-color: #BA1200;
    color: #FFF;
    clear: both;
}

footer {
    padding: 25px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footerTxt {
    display: inline;
}

/*--------------------------------------------------------*/
#lastMinBets, #featuredMovies {
    padding: 50px;
}

#leaderBoard, #testimonial {
    background-color: #BA1200;
    padding: 50px;
} 

#membership {
    padding: 50px;
    height: 250px;
}

.carouselTxt {
    background-color: #031927;
    opacity: .95;
    padding: 25px;
}

.btn {
    float: right;
}

.profileBtn {
    background-color: #ECDD7B;
    color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 4px;
    padding: 3px 20px;
    margin: 0 10px;
    font-size: 18px;
}

.profileBtn:hover {
    background-color: #000;
    color: #ECDD7B;
}

.betBtn {
    background-color: #BA1200;
    color: #FFF;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.5);
}

.betBtn:hover {
    background-color: #FFF;
    color: #BA1200;
}

.betsCard {
    width: 400px;
    height: auto;
    padding: 15px;
}

.lastBetsTxt {
    margin-top: 50px;
}

.listTitle {
    margin-bottom: 15px;
    padding: 15px 0;
}

.listImg {
    width: 30px;
}

.listTxt {
    display: inline;
}

.payoutList, .topUserList {
    background-color: #FFF;
    color: #000;
    padding: 25px;
}

.leaderboardTxt button {
    color: #000;
}

.leaderboardTxt button:hover {
    color: #ECDD7B;
}

h1 {
    margin-bottom: 25px;
}

h2 {
    color: #ECDD7B;
    font-family: 'Roboto';
    text-align: center;
}

button {
    border: none;
    border-radius: 4px;
    padding: 3px 20px;
    margin: 0 10px;
    font-size: 18px;
}

/***** Login and Sign Up ****/
.forms {
    width: 50%;
    margin: 50px auto;
    padding: 100px;
    text-align: center;
    border: 5px solid #BA1200;
}

.formFields {
    margin-bottom: 15px;
}

/***** User Profile ****/
#userProfileMain {
    width: 1200px;
    margin: 0 auto;
}

.cardProfileImg {
    padding: 25px 15px;
}

/***** User Feedback Carousal START ****/
#testimonials {
    background:#BA1200;
    text-align: center;
    color: #fff;

}

.testimonial-image {
    /*width: 10%;*/
    border-radius: 100%;
    /*margin: 10%*/
}
.feedback-slider-page{
    padding: 5%;
}
/***** User Feedback Carousal END ****/
/*****USER Bets & History Section  START****/
#bet-history{
    margin: 0 auto;
    background-color: #031927;
    color: #ECDD7B;
}
.bet-hist-table-div{
    margin: 2em;
    overflow-x: auto;
}

.bet-hist-table th,.bet-hist-table td{
    border: 1px solid #ECDD7B;
    padding: 1em;
    /*color: #ECDD7B;*/
}

.bet-hist-form-div{
    margin: 1em;
}

.bet-hist-heading,.bet-hist-table{
    margin: 1em 0;
}

.bet-hist-form-date-input-btn {
    padding: 0.2em 0.5em;
    color: #333;
    background-color: #EBDD7BFF;
    border-radius: 5px;
}

/***** Bet History Section END****/