.member-form{
    max-width: 700px;
    margin:auto;
    text-align: center;
}
.formgroup{
    padding:20px;
}
.formcontrol{
    width:50%;
    height:30px;
    text-align: justify;

}
.label{
    margin-right: 30px;
}
.membercontainer{
    display:flex;
}
.benefits{
    flex:1 0 0;
    border:solid 2px  gold;
    background-color:rosybrown;
    color:black;
    margin:50px;
    padding:10px;
    border-radius:20px;
}
.steps{
    flex:1 0 0;
    border:solid 2px  gold;
    background-color: #bebebf;
    color:black;
    margin:50px;
    padding:10px;
    border-radius:20px;
}
.mheading{
    color:black;
    padding:10px;
}
.memberpara{
    text-align: center;
    font-size: 30px;
    color:coral;
    font-family: "Bookman Old Style", sans-serif;
}
.previewform{
    text-align: center;
    font-size: 24px;
    font-family: "Bookman Old Style", sans-serif;
}
.previewbtn{
    background-color: #0f5132;
    color:white;
    border-radius: 20px;
    padding:10px 5px;
    font-size: 20px;
    margin:20px;
}
.paymentbtn{
    background-color: #007bff;
    color:white;
    border-radius: 20px;
    padding:10px 5px;
    font-size: 20px;
    margin:20px;
}
.btncontainer{

    display:flex;
    text-align: center;

}
.btncontainer a{
    text-decoration: none;
}

.membercontainer h1{
    padding-top:50px;

}
.add-membercontainer{
    background-color: #031927;
    color:white;
    min-height: 100vh;
    text-align: center;
    display:flex;
}
.add-membercontainer h1{
    padding-top:50px;
}
.add-member-form{
    max-width:700px;
    flex:1 0 100%;
}
.membershipcard{
    flex:1 0 0;
    position:relative;

}
.membershipcard img{
    padding:20px;


}
.membercard{
    text-align: center;
    /*position:relative;*/
}
.membername{
    position:absolute;
    right:700px;
    top:200px;
    color:#967331;
    font-family:Algerian;
    font-size:48px;
}
.money{
    position:absolute;
    right:700px;
    top:250px;
    color:#967331;
    font-family:"Times New Roman";
    font-size:16px;
    font-weight: bold;
}
.memberusername{
    position:absolute;
    left:500px;
    top:300px;
    color:#967331;
    font-family: "Brush Script MT", serif;
    font-size:30px;
}
.memberexpiry{
    position:absolute;
    left:500px;
    top:350px;
    color:#967331;
    font-family:"Brush Script MT", Serif;
    font-size:30px;
}
.message-member{
    max-width:500px;
    text-align: center;
    background-color:lightgoldenrodyellow;
    color:blueviolet;
    padding:30px;
    border-radius:20px;
    margin: 30px auto;
    font-size:30px;
}
.addmember{
    background-color: yellow;
    border-radius: 20px;
    color:#031927;
    padding:15px;
    text-decoration:none ;
    font-size:20px;
    float: right;
    margin-right: 100px;
}
.memberbtn{
    background-color:lightcoral;
    border-radius: 20px;
    color:#031927;
    padding:15px;
    text-decoration:none ;
}
.membertable{
    margin:100px;
}
.membertable th{
    border:1px solid yellow;
    padding:20px;
    font-size:20px;
}
.membertable td{
    border:1px solid yellow;
    padding:20px;

}
.bg{
    background-color: #031927;
    color:white;
}
/*.fieldset{


}*/
fieldset{
    border:1px solid yellow;
    max-width:500px;
    margin: auto;
}
legend{
    color:yellow;
    font-size: 14px;
    border-color: yellow;
}
