html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  background:#031927 !important;
  color:#ECDD7B !important;
}

.page-container{
  max-width: 1200px;
  margin:0 auto;
}

.flex-container{
  display:flex;
  flex-direction: row wrap;
}

#page-title h1{
  font-size: 2.5rem;
  margin-left: 8em;
}

#page-title h2{
  font-size:1.5rem;
  margin-left:15em;
  margin-bottom: 2em;
  color: white;
}

#movie-title{
  margin-bottom:1em;
}

.movie-pic{
  height:600px;
  margin-bottom:3em;
}

#reviews{
  margin-left:5em;
}

#reviews h2{
  margin-bottom:1em;
  color: red;
}

#reviews p{
  border-bottom:1px white dashed;
  margin-bottom:1em;
}

#movie-info{
  line-height: 2em;
  margin-bottom:5em;
}

#movie-info h2{
  color:red;
}

#movie-detail{
  margin-bottom:4.5em;
}

#movie-detail h2{
  color:red;
}

#bet-btn{
  border:none;
  color:red;
  font-size:3em;
  margin-left:8em;
}

p{
  padding-bottom: 1em;
}
