html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  background:#031927 !important;
}

.page-container{
  max-width: 1200px;
  margin: 7em auto;
  /*background:url("../images/starwars.jpg") !important;*/
  /*background-position: center !important;*/
  /*background-repeat: no-repeat !important;*/
  /*background-size: 1200px 801px !important;*/
  color:black !important;
  padding-left:2em;
}

.flex-container{
  display:flex;
  padding-top:3em;
}

#buttons{
  padding-top:2em;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-right: 2em;
}

#page-title h1{
  font-size: 2.5rem;
  margin-left: 8em;
}

#page-title h2{
  font-size:1.5rem;
  margin-left:15em;
  margin-bottom: 2em;
  color: white;
}

#movie-title{
  padding-top:2.5em;
  white-space: pre-line;
  padding-bottom:2em ;
}

#release-date{
  padding-top: 2em;
}

#release-date h3{
  color:white;
}

.actor-name{
  padding-right:2em;
}

.last-name a{
  text-decoration: none;
  color:white !important;
  font-size:2em;
}

.first-name a{
  text-decoration: none;
  color:grey !important;
}



#bet-btn{
  border:none;
  color:red;
  font-size:3em;
  margin-left: 5em;
  padding-bottom: 1em;
}

p{
  padding-bottom: 1em;
}
