html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  background:#031927 !important;
  color:#ECDD7B !important;
}

.page-container{
  max-width: 1200px;
  margin: 7em auto;
  /*border: 2px solid #FFFFFF;*/
}

.page-container h1{
  text-align: center;
  margin-bottom: 2em;
}

.flex-container{
  display:flex;
  flex-direction: row;

}


table, th, td {
  color: #ECDD7B;
}

.table-bordered{
  border: 2px solid #ECDD7B;
}



.movie-img-container{
  margin-right: 1em;
}

.actors-container{
  text-align: center;
  color: #ECDD7B;
}

.actors-name a{
  color: #ECDD7B;
}

.actors-name a:hover{
  text-decoration: none;
}

.btn-container{
  text-align: center;
  margin: 3em auto;
  cursor: pointer;
}

.page-container .btn-primary{
  padding: 1em;
  border-radius: 25px;
}

.page-container .btn-primary:hover{
  text-decoration: none;
}

.back-btn-container{
  margin-bottom: 20px;
}

.back-btn-container a{
  padding: 1em;
  border-radius: 10px;
}

.link-styling{
  color:#ECDD7B;
}
.link-styling:hover{
  color: #ECDD7B;
}

